body {
    display: flex;
    flex-flow: column wrap;
    background-color: burlywood;
}

#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
}

#header img{
    width: 400px;
}

#nav-bar {
    display: flex;
    flex-flow: column wrap;
}

#nav-bar ol {
    list-style: none;
    display: inline-flex;
}


#header nav ol li a {
    text-decoration-line: none;
    padding: 0 7px;
    font-size: 18px;
    color: #000;
}

#form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
}

#email {
    margin: 1rem;
    width: 20rem;
}

#submit {
    width: 10rem;
    background-color:yellow;
}

.video-div {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

#video {
    width: 25rem;
    margin-bottom: 5rem;
}

@media (height: 600px){
    #video {
        width: 30rem;
    }
}
